# lws

export LWS_WITH_DISTRO_RECOMMENDED=0
export LWS_FOR_GITOHASHI=0
export LWS_WITH_NETWORK=1
export LWS_ROLE_H1=1
export LWS_ROLE_WS=1
export LWS_ROLE_MQTT=0
export LWS_ROLE_DBUS=0
export LWS_ROLE_RAW_PROXY=0
export LWS_ROLE_RAW_FILE=0
export LWS_WITH_HTTP2=0
export LWS_WITH_LWSWS=1
export LWS_WITH_CGI=0
export LWS_IPV6=0
export LWS_UNIX_SOCK=0
export LWS_WITH_PLUGINS=0
export LWS_WITH_HTTP_PROXY=0
export LWS_WITH_ZIP_FOPS=0
export LWS_WITH_SOCKS5=0
export LWS_WITH_GENERIC_SESSIONS=1
export LWS_WITH_PEER_LIMITS=0
export LWS_WITH_ACCESS_LOGS=0
export LWS_WITH_RANGES=0
export LWS_WITH_SERVER_STATUS=0
export LWS_WITH_THREADPOOL=1
export LWS_WITH_HTTP_STREAM_COMPRESSION=0
export LWS_WITH_HTTP_BROTLI=0
export LWS_WITH_ACME=0
export LWS_WITH_HUBBUB=0
export LWS_WITH_ALSA=0
export LWS_WITH_GTK=0
export LWS_WITH_FTS=0
export LWS_WITH_SYS_ASYNC_DNS=1
export LWS_WITH_SYS_NTPCLIENT=0
export LWS_WITH_SYS_DHCP_CLIENT=1
export LWS_WITH_HTTP_BASIC_AUTH=1
export LWS_WITH_HTTP_UNCOMMON_HEADERS=0
export LWS_WITH_SECURE_STREAMS=1
export LWS_WITH_SECURE_STREAMS_PROXY_API=0
export LWS_WITH_SECURE_STREAMS_SYS_AUTH_API_AMAZON_COM=0
export LWS_WITH_SSL=0
export LWS_WITH_MBEDTLS=0
export LWS_WITH_BORINGSSL=1
export LWS_WITH_CYASSL=0
export LWS_WITH_WOLFSSL=0
export LWS_SSL_CLIENT_USE_OS_CA_CERTS=0
export LWS_WITH_LIBEV=0
export LWS_WITH_LIBUV=1
export LWS_WITH_LIBEVENT=0
export LWS_WITH_GLIB=0
export LWS_WITH_STATIC=1
export LWS_WITH_SHARED=1
export LWS_LINK_TESTAPPS_DYNAMIC=0
export LWS_STATIC_PIC=1
export LWS_WITH_ESP32=0
export LWS_WITH_ESP32_HELPER=0
export LWS_PLAT_OPTEE=0
export LWS_PLAT_FREETOS=0
export LWS_PLAT_ANDROID=0
export LWS_WITHOUT_CLIENT=1
export LWS_WITHOUT_SERVER=0
export LWS_WITHOUT_TESTAPPS=1
export LWS_WITHOUT_TEST_SERVER=1
export LWS_WITHOUT_SERVER_EXTPOLL=1
export LWS_WITHOUT_TEST_PING=1
export LWS_WITHOUT_TEST_CLIENT=1
export LWS_WITHOUT_EXTENSIONS=0
export LWS_WITHOUT_BUILDING_GETIFADDRS=0
export LWS_FALLBACK_GETHOSTBYNAME=1
export LWS_WITHOUT_BUILTIN_SHA1=1
export LWS_WITHOUT_DAEMONIZE=1
export LWS_SSL_SERVER_WITH_ECDH_CERT=1
export LWS_WITH_LEJP=0
export LWS_WITH_SQLITE3=0
export LWS_WITH_STRUCT_JSON=0
export LWS_WITH_STRUCT_SQLITE3=0
export LWS_WITH_DIR=0
export LWS_WITH_LEJP_CONF=0
export LWS_WITH_NO_LOGS=0
export LWS_LOGGING_BITFIELD_SET=1
export LWS_LOGGING_BITFIELD_CLEAR=1
export LWS_LOGS_TIMESTAMP=1
export LWS_AVOID_SIGPIPE_IGN=0
export LWS_WITH_STATS=1
export LWS_WITH_JOSE=0
export LWS_WITH_GENCRYPTO=0
export LWS_WITH_SELFTESTS=0
export LWS_WITH_GCOV=0
export LWS_WITH_EXPORT_LWSTARGETS=0
export LWS_REPRODUCIBLE=0
export LWS_WITH_MINIMAL_EXAMPLES=0
export LWS_WITH_LWSAC=0
export LWS_WITH_CUSTOM_HEADERS=0
export LWS_WITH_DISKCACHE=0
export LWS_WITH_ASAN=0
export LWS_WITH_DIR=0
export LWS_WITH_LEJP_CONF=0
export LWS_WITH_ZLIB=0
export LWS_WITH_BUNDLED_ZLIB=0
export LWS_WITH_MINIZ=0
export LWS_WITH_DEPRECATED_LWS_DLL=0
export LWS_WITH_SEQUENCER=0
export LWS_WITH_EXTERNAL_POLL=0
export LWS_WITH_LWS_DSH=0
export LWS_CLIENT_HTTP_PROXYING=0
export LWS_WITH_FILE_OPS=0
export LWS_WITH_DETAILED_LATENCY=0
export LWS_WITH_UDP=0
export LWS_WITH_SPAWN=0
export LWS_WITH_FSMOUNT=0
